.nft-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 15px;
    transition: box-shadow 0.25s ease-in-out 0s;
}
.nft-item-imgwrap {
    position: relative;
    padding-top: 100%;
}
.nft-item-imgwrap .nft-item-img {
    /* try contain */
    object-fit: cover; 
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.nft-item-name, .nft-item-description, .nft-item-price, .nft-item-owner {
    padding: 8px;
}
.nft-item-description {
    color: rgb(84,84,84);
}
.nft-item-actions {
    display: flex;
}
.nft-item-actions-btn {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    
}
.nft-item-actions-btn.buy, .nft-item-actions-btn.mint {
    background-color: rgb(32,129,266);
}
.nft-item-actions-btn.buy:hover, .nft-item-actions-btn.mint:hover {
    background-color: #4096ff;
}
.nft-item-actions-btn.delete {
    background-color: #ff4d4f;
}
.nft-item-actions-btn.delete:hover {
    background-color: #ff7875;
}
.nft-item-actions-btn.minted {
    cursor: not-allowed;
    color: rgba(0,0,0,0.25);
}